.modal {
    display: none; 
    position: fixed; 
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal__content {
    margin: 50px auto; 
    padding: 20px;
    position: relative;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    right: -30px;
    top: -30px;
    font-size: 2rem;
    font-weight: bold;

    &:hover {
        color: #c4c4c4;
        text-decoration: none;
        cursor: pointer;
    }
}

.not-visible {
    display: none;
}

#displayBookingInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;

    & h3 {
        margin: 0;
        color: green;
    }

    & .booking-error {
        color: red;
        text-align: center;
        margin: 20px 0;
    }
}

.bookingInfo__property {
    font-weight: bold;
}

