.general-container {
    position: relative;
    background: rgba(80, 80, 80, 1);
    width: 500px;
    margin: 0 auto;
}

.tab__container {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;

}

input[type="radio"][name="tabs"] {

  z-index: -1;
  &:checked + .tab__label {
      .tab__content {
        display: block;
      }
    }

    &:nth-of-type(1):checked ~ .tab__slide {
            left: 0;
        }
    

    &:nth-of-type(2):checked ~ .tab__slide {
          left: 50%;
        }
}

.tab__selector {
  cursor: pointer;
  color: $golden-color;
  // background-color: rgba(17, 17, 17, 0.9);
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 56px;
  transition: color 0.2s ease;
  width: 100%;

  &:hover {
    color: white;
  }
}

.tab__slide {
  background: $golden-color;
  width: 50%;
  height: 4px;
  position: absolute;
  left: 0;
  top: calc(100% - 4px);
  transition: left 0.3s ease-out;
}

.tab__label {
  width: 100%;

  .tab__content {
    position: absolute;
    top: 55px;
    left: 0;
    display: none;
  }
}

@media (max-width: 576px) {
    .general-container {
        width: 300px;
    }
}
