.booking-form__container {
    // height: 100%;
}

#bookingForm {
    width: 500px;
    // height: 300px;
    margin: auto;
    padding: 25px;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    // border: 1px solid black;
    background: white;

    & label {
        margin-bottom: 10px;
    }
}

.booking-form__item {
    width: 100%;
    padding: 5px;
    border-radius: 5%;
    background-color: #eee;
}

#booking__roomType,
#booking-guests {
    height: 30px;
}

#booking-submitButton,
#checkBooking-submitButton {
    // text-decoration: none;
    // display: inline-block;
    // color: white;
    text-transform: uppercase;
    font-size: 2rem;
    vertical-align: middle;
    height: 60px;
    width: 150px;   
    color: $golden-color;
    background: rgba(80, 80, 80, 0.8);
    border: 2px solid $golden-color;
    // line-height: 60px;
    text-align: center;
    cursor: pointer;
    align-self: flex-end;

    &:hover {
        background: #dbb94bb9;
        color: white;
    }
}

.checkBookingForm__container {
    background: white;
}

@media (max-width: 576px) {
    #bookingForm {
        width: 300px;
    }
}