// SPECIALS
.explore-gallery__header {
    background-color: $prime-color;
    color: $font-prime-color;

    & h2 {
        padding: 10px 0;
        margin: 0;
        text-align: center;
    } 

    & h2 a {
        text-transform: uppercase;
        text-decoration: none;
        color: white;   
    }

    & h2 a:hover {
        color: $golden-color;
        text-decoration: underline;
    }
}

// Gallery
.explore-gallery__body {
    display: flex;
    flex-direction: row;
}

.explore-gallery__item-info {
    display: none;
    
    & h3, p {
        text-align: center;
        margin: 0;
        padding: 0;   
    }
}

.explore-gallery__item {
    display: block;
    height: 320px;
    width: 20%;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;

    &:nth-child(1) {
        background-image: url("../assets/img/gallery/villa-cortine-palace-949547_1920.jpg");
    }
    &:nth-child(2) {
        background-image: url("../assets/img/gallery/bar-1869656_1920.jpg");
    }
    &:nth-child(3) {
        background-image: url("../assets/img/gallery/exclusive-banquet-1812772_1920.jpg");
    }
    &:nth-child(4) {
        background-image: url("../assets/img/gallery/pexels-photo-1058277.jpg");
    }
    &:nth-child(5) {
        background-image: url("../assets/img/gallery/pexels-photo-210604.jpg");
    }

    &:hover .explore-gallery__item-background {
        background: $prime-color;
    }

    &:hover .explore-gallery__item-info {
        display: block;
        margin: 0 auto;
    }
}

.explore-gallery__item-background {
    height: 100%;
    opacity: 0.7;
    display: flex;
}

.explore-gallery__item-info {
    align-self: center;
}


@media (max-width: 768px) {
    .explore-gallery__body {
        flex-direction: column;
    }

    .explore-gallery__item {
        height: 160x;
        width: 100%;
    }
}
