@font-face {
    font-family: Poppins-Regular;
    src: url("../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins-ExtraLight;
    src: url("../assets/fonts/Poppins-ExtraLight.ttf");
}

@font-face {
    font-family: Sintony-Regular;
    src: url("../assets/fonts/Sintony-Regular.ttf");
}

@font-face {
    font-family: Sintony-Regular;
    src: url("../assets/fonts/Sintony-Bold.ttf");
    font-weight: bold;
}