.footer {
    background: #000;
    padding: 30px 0;
}

.footer__container {
    width: 1170px;
    margin: 0 auto;
}

.footer__link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.footer__link {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: $prime-color;

    &:hover {
        text-decoration: underline;
    }
}

.footer__legal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
}

.footer__legal-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & a {
        text-decoration: none;
        color: white;
        font-size: 0.7rem;
        display: inline-block;
        padding-right: 20px;
    }
}

.footer__copyright {
    color: white;
    font-size: 0.7rem;
}